name: Build Snap

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*'  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install snapcraft
        run: sudo snap install snapcraft --classic

      - name: Build snap
        run: snapcraft pack --destructive-mode

      - name: Upload snap artifact
        uses: actions/upload-artifact@v4
        with:
          name: procguard
          path: '*.snap'

      - name: Upload snap to Snap Store
        run: |
          snapcraft upload ./procguard_1.2_amd64.snap --release=stable
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}

