name: Build Snap

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*'  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install snapcraft
        run: sudo snap install snapcraft --classic

      - name: Build snap
        run: snapcraft pack

      - name: Upload snap artifact
        uses: actions/upload-artifact@v4
        with:
          name: procguard
          path: '*.snap'

